.login-container {
  max-width: 700px;
  width: 80%;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  background: linear-gradient(135deg, #00c6ff, #7effb2); 
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  position: relative;
  left: 1.7rem;
  top: 5rem;
  height: 65vh;
}

.login-container h2 {
  margin-bottom: 20px;
  color: #003366;
}

.login-container input {
  width: 90%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
}

.login-container button {
  width: 90%;
  padding: 12px;
  background: #003366;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.login-container button:hover {
  background: #0059b3;
}

.error {
  color: #b30000;
  margin-bottom: 10px;
  font-size: 0.9rem;
}

.redirect-text {
    color: #002244;
    position: relative;
    top: 2rem;
    left: 2rem;
    white-space: nowrap;
}

.login-register-link {
    color: #003366;
    font-weight: bold;
    text-decoration: none;
    position: relative;
    top: 2rem;
    left: -9.5rem;
}

.register-link:hover {
  text-decoration: underline;
}

.login-reset-link {
  position: relative;
  top: 1rem;
}

@media (min-width: 768px) {
  .login-container {
    left: 5rem;
  }
}

