.login-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: white;
  padding: 20px;
}

.login-container {
  max-width: 700px;
  width: 100%;
  padding: 25px;
  border-radius: 10px;
  text-align: center;
  background: linear-gradient(135deg, #00c6ff, #7effb2); /* blue-green gradient */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
  margin-bottom: 20px;
  color: #003366;
}

.login-container input {
  width: 90%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
}

.login-container button {
  width: 90%;
  padding: 12px;
  background: #003366;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.login-container button:hover {
  background: #0059b3;
}

.error {
  color: #b30000;
  margin-bottom: 10px;
  font-size: 0.9rem;
}

.redirect-text {
  margin-top: 15px;
  color: #002244;
}

.register-link {
  color: #003366;
  font-weight: bold;
  text-decoration: none;
}

.register-link:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .login-container {
    max-width: 95%;
    padding: 50px;
    margin-left: 5px; 
    margin-right: 30px; 
  }

  .login-card {
    width: 100%;     
    max-width: 500px;  
  }
}

@media (max-width: 320px) {
  .login-container {
    max-width: 100%;
    margin-left: -18px;
    margin-right: -25px;
    position: relative;
    top: -3rem;
    height: 340px;
    padding: 20px;
  }

  .login-card {
    width: 100%;     
    max-width: 500px;  
  }
}
