.logout-btn {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s 
    ease, transform 0.2s 
    ease;
    position: fixed;
    bottom: 110px;
    right: 15px;
    z-index: 1000;
}

.logout-btn:hover {
  background-color: #c82333;
  transform: translateY(-2px);
}

@media (min-width: 410px) {
  .logout-btn{
    bottom: 10rem;
    width: 70px;
    height: 55px;
  }
}