.register-container {
    width: 90%;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
    background: linear-gradient(135deg, #00c6ff, #7effb2);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    position: relative;
    top: 5rem;
    left: 1rem;
    height: 65vh;
}

.register-container input{
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: none;
  border-radius: 6px;
  outline: none;
  font-size: 1rem;
  box-sizing: border-box;
}

.register-button {
  padding: 10px 20px;
  cursor: pointer;
  background-color: #0077cc;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  position: relative;
  top: 3.5rem;
  left: -3rem;
}

.password-field {
  position: relative;
  width: 100%;
}

.password-field input {
  width: 100%;
  padding-right: 40px; 
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 1.2rem;
  user-select: none;
}

.register-container select{
    position: relative;
    left: -1rem;
    top: -1rem;
    font-size: 1rem;
}

.register-link{
    position: relative;
    top: 5rem;
}

@media (min-width: 410px) {
    .register-container {
      height: 60vh;
    }
    .register-container input {
      padding: 15px;
      margin-bottom: 20px;
      font-size: 1.5rem;
    }
    .register-container select{
      font-size: 1.7rem;
      top: 0rem;
    }

    .register-container select option{
      font-size: 0.7rem;
    }
    .register-button{
      left: -6rem;
      top: 4rem;
      font-size: 1.5rem;
    }
    .register-link{
      font-size: 1.4rem;
      top: 6rem;
    }

  }
